.header{
	margin-top: 20px;
	margin-bottom: 15px;
}

.branding{
	font-size: 16pt;
	font-family: "Open Sans";
	font-weight: 300;
	text-decoration: none;
	color: black;
}
.branding:hover, .branding:focus{
	text-decoration: none;
	color: black;
}
.user{
	font-size: 12pt;
	line-height: 1.5em;
}
.logout{
	margin-left: 5px;
	font-size: 10pt;
}
